@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Creepster', cursive;
    font-weight: 400;
    color: rgb(167, 5, 5);
    background-color: #000000;
    text-align: center;
}

#logo {
    float: left;
    font-size: 260%;
    font-family: 'Nosifer', cursive;
    color: rgb(167, 5, 5);
    letter-spacing: 8px;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px dashed #696868;
    color: #696868;
}

.active {
    border-bottom: 1px dashed #696868;
    background-color: #1d1d17;
}

#outer {
    height: 600px;
    width: 100%;
    border-top: 3px solid #1d1d17;
    border-bottom: 3px dashed #1d1d17;
    overflow: hidden;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/my-project.webp') no-repeat center center;
}

#introductions {
    height: 660px;
    width: 100%;
}

#introductions h2 {
    font-size: 300%;
    text-align: center;
    color: darkred;
}

#introductions hr {
    border: 2px dashed #1d1d17;
}

#introductions div {
    height: 600px;
    border-radius: 5px;
    background-color: rgba(173, 62, 62, 0.6);
}

#introductions a {
    text-decoration: none;
}

#introductions p {

    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    font-size: 160%;
    color: #000000;
    padding: 70px 70px 0 70px;
}

#memory{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}


#memory>img {
    width: 100%;
}
#memory h1{
    text-align: center;
    font-size: 300%;
    clear: both;
    margin: 5px;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;

}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1px;
    padding: 5%;
    color: rgb(167, 5, 5);
}
#film{
    height: 600px;
    width:100%;
    overflow:hidden;

}
#im{
    height: 600px;
    width:100%;
    background:url('../images/My-project.png') no-repeat center center;
}
